<form role="form">
  <div class="form-group">
    <label for="name">Назва</label>
    <input type="text" class="form-control" id="name" placeholder="Введіть назву" ng-model="subject.name">
  </div>
  <div class="form-group">
    <label for="resources">Ресурси</label>
    <select id="resources" ng-options="item.id as item.name for item in resources track by item.id" ng-model="subject.resources" multiple bootstrap-select>
    </select>
  </div>
  <div class="control-group">
    <div class="controls">
      <a ng-click="cancel()" class="btn btn-small">Відміна</a>
      <a ng-click="save()" class="btn btn-small btn-primary">Зберегти предмет</a>
    </div>
  </div>
</form>