<div style="margin: 20px 0">
  <a ng-href="#/admin/resources">&lt;&lt; Повернутися до списку</a>
</div>
<form role="form">
  <div class="form-group">
    <label for="name">Назва</label>
    <input type="text" class="form-control" id="name" placeholder="Введіть назву" ng-model="resource.name">
  </div>
  <div class="form-group">
    <label for="description">Опис</label>
    <textarea class="form-control" id="description" placeholder="Введіть опис" ng-model="resource.description"></textarea>
  </div>
  <div class="form-group">
    <label for="author">Автор</label>
    <input type="text" class="form-control" id="author" placeholder="Введіть автора" ng-model="resource.author">
  </div>
  <div class="form-group">
    <label for="subjects">Предмети</label>
    <select id="subjects" ng-options="item.name for item in subjects track by item.id" ng-model="resource.subjects" multiple bootstrap-select title="Оберіть Предмет">
    </select>
  </div>
  <div class="form-group">
    <label for="categories">Категорії</label>
    <select id="categories" ng-options="item.name for item in categories track by item.id" ng-model="resource.categories" multiple bootstrap-select title="Оберіть категорію">
    </select>
  </div>
  <div class="form-group">
    <label for="speciality">Спецiальнiсть</label>
    <select id="speciality" ng-options="item.name for item in specialities track by item.id" ng-model="resource.speciality" bootstrap-select title="Оберіть спецiальнiсть">
    </select>
  </div>
  <div class="form-group">
    <label for="year">Рік</label>
    <input type="text" class="form-control" id="year" placeholder="Введіть рік" ng-model="resource.year">
  </div>
  <div ng-if="resource === undefined || !resource.image || resource.image.length === 1">
    <p>Додайте файл материалу</p>
    <img ng-src="{{ resource_image }}" width="300"/>
  </div>
  <div ng-if="resource !== undefined && resource.image && resource.image.length !== 1">
    <img ng-src="{{ resource.image }}" width="300"/>
  </div>
  <div class="form-group">
    <label ng-if="!(resource && resource.image)" for="resource-file">Зображення матерiалу</label>
    <label ng-if="resource && resource.image" for="resource-file">Змiнити зображення матерiалу</label>
    <input type="file" id="resource-image" ng-model="resource.image" ng-file-select ng-multiple="false" ng-file-change="fileSelected($files, $event)" name="image" required>
  </div>
  <div ng-if="resource === undefined || !resource.fileR || resource.fileR.length === 1">
    <p>Додайте файл матерiалу</p>
  </div>
  <div ng-if="resource !== undefined && resource.fileR && resource.fileR.length !== 1">
    <p>Посилання на зкачування файлу матерiалу -  <a ng-href="{{ resource.fileR }}">{{ resource.name }}</a></p>
  </div>
  <div class="form-group">
    <label ng-if="!(resource && resource.image)"  for="resource-file">Файл матерiалу</label>
    <label ng-if="resource && resource.image"  for="resource-file">Змiнити файл матерiалу</label>
    <input type="file" id="resource-file" ng-model="resource.fileR" ng-file-select ng-multiple="false" ng-file-change="fileSelected($files, $event)" name="fileR" required>
  </div>
  <div class="control-group">
    <div class="controls">
      <div dnu-loader></div>
      <a ng-click="cancel()" class="btn btn-small">Відміна</a>
      <button ng-click="save()" class="btn btn-small btn-primary" onclick="this.disabled=true;document.getElementById('fountainG').removeAttribute('style')">Зберегти ресурс</button>
    </div>
  </div>
</form>
