<form role="form">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter name" ng-model="freeResource.name">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" placeholder="Enter description" ng-model="freeResource.description"></textarea>
  </div>
  <div class="form-group">
    <label for="categories">Categories</label>
    <select id="categories" ng-options="item.id as item.name for item in categories track by item.id" ng-model="freeResource.categories" multiple bootstrap-select>
    </select>
  </div>
  <div class="form-group">
    <label for="resource">Url</label>
    <input type="text" class="form-control" id="resource" placeholder="Enter url" ng-model="freeResource.resource">
  </div>
  <div class="control-group">
    <div class="controls">
      <a ng-click="cancel()" class="btn btn-small">cancel</a>
      <a ng-click="save()" class="btn btn-small btn-primary">Save free resource</a>
    </div>
  </div>
</form>