<form role="form">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter name" ng-model="teacher.name">
  </div>
  <div class="form-group">
    <label for="links">Links</label>
    <select id="links" ng-model="teacher.links" multiple>
      <option value="link_1">Link 1</option>
      <option value="link_2">Link 2</option>
    </select>
  </div>
  <div class="control-group">
    <div class="controls">
      <a ng-click="cancel()" class="btn btn-small">cancel</a>
      <a ng-click="save()" class="btn btn-small btn-primary">update teacher</a>

    </div>
  </div>
</form>