<div ng-if="isAdmin">
<h1>Адміністративне меню</h1>
  <ul class="list-group" ng-if="isEditor">
    <li class="list-group-item"><a href="#/admin/teachers">Викладачі</a></li>
    <li class="list-group-item"><a href="#/admin/departments">Кафедра</a></li>
    <li class="list-group-item"><a href="#/admin/subjects">Предмети</a></li>
    <li class="list-group-item"><a href="#/admin/resources">Матеріали</a></li>
    <li class="list-group-item"><a href="#/admin/specialities">Cпецiальностi</a></li>
    <li class="list-group-item"><a href="#/admin/free-resources">Відкриті ресурси</a></li>
  </ul>
  <ul class="list-group" ng-if="isSuper">
    <li class="list-group-item"><a href="#/admin/faculties">Факультети</a></li>
    <li class="list-group-item"><a href="#/admin/teachers">Викладачі</a></li>
    <li class="list-group-item"><a href="#/admin/departments">Кафедра</a></li>
    <li class="list-group-item"><a href="#/admin/categories">Категорії</a></li>
    <li class="list-group-item"><a href="#/admin/free-categories">Вiльнi Категорії</a></li>
    <li class="list-group-item"><a href="#/admin/subjects">Предмети</a></li>
    <li class="list-group-item"><a href="#/admin/resources">Матеріали</a></li>
    <li class="list-group-item"><a href="#/admin/specialities">Cпецiальностi</a></li>
    <li class="list-group-item"><a href="#/admin/free-resources">Відкриті ресурси</a></li>
    <li class="list-group-item"><a href="#/admin/users">Користувачi</a></li>
    <li class="list-group-item"><a href="#/admin/links">Викладачi та предмети</a></li>
  </ul>
</div>
