<h1>Administration menu</h1>
<ul class="list-group">
  <li class="list-group-item"><a href="#/admin/faculties">Faculties</a></li>
  <li class="list-group-item"><a href="#/admin/categories">Categories</a></li>
  <li class="list-group-item"><a href="#/admin/teachers">Teachers</a></li>
  <li class="list-group-item"><a href="#/admin/departments">Departments</a></li>
  <li class="list-group-item"><a href="#/admin/categories">Categories</a></li>
  <li class="list-group-item"><a href="#/admin/subjects">Subjects</a></li>
  <li class="list-group-item"><a href="#/admin/resources">Resources</a></li>
  <li class="list-group-item"><a href="#/admin/free-resources">Free Resources</a></li>
</ul>