<div ng-controller="DepartmentCtrl">
  <div class="panel panel-default">
    <div class="panel-heading"><strong>{{ department.name }}</strong></div>
    <div class="panel-body">
      <dl>
        <dt>Абревiатура</dt>
        <dd>{{ department.shortName }}</dd>
        <dt>Опис</dt>
        <dd>{{ department.description }}</dd>
        <dt>Телефон</dt>
        <dd>{{ department.phone }}</dd>
        <dt>Адреса</dt>
        <dd>{{ department.address }}</dd>
      </dl>
    </div>
  </div>
  <tabset>
    <tab heading="Викладачі" select="updateIsotope()">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div id="departments" class="content-list">
              <section id="isotope-container" isotope-dnu-container>
                <div ng-repeat="item in department.employees" class="department isotope-item" isotope-dnu-item>
                  <a ng-href="#/faculty/{{ faculty.id }}/department/{{ department.id }}/teacher/{{ item.id }}"><img
                    src="{{ item.image }}"/>

                    <p>{{ item.name }}</p>

                    <p>{{ item.description }}</p></a>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Предмети" select="updateIsotope()">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div id="specialities" class="content-list">
              <section id="isotope-container-2" isotope-dnu-container>
                <div ng-repeat="item in subjects" class="speciality isotope-item" isotope-dnu-item>
                  <a ng-href="#/faculty/{{ faculty.id }}/department/{{ department.id }}/subject/{{ item.id }}">
                    <img
                      src="{{ item.image }}"/>
                    <p>{{ item.name }}</p>

                    <p>{{ item.description }}</p></a>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </tab>
</div>
