<div class="header">
  <h3 class="text-muted">Цифровий репозиторій</h3>
  <h4 class="text-muted">Дніпропетровського національного університету імені Олеся Гончара</h4>
</div>

<div class="jumbotron">
  <p>Ласкаво просимо до Цифрового репозиторію Дніпропетровського національного університету імені Олеся Гончара. Репозиторій містить електронні версії книг, монографій, навчальних посібників, збірників статей, методичних вказівок, конспектів лекцій, презентацій, розроблених викладачами та науковими співробітниками університету.</p>
</div>
