<div ng-controller="ResourceCtrl">
  <dl>
    <dt>Викладач</dt>
    <dd>{{ resource.author }}</dd>
    <dt>Предмет</dt>
    <dd>{{ resource.subjects[0].name }}</dd>
    <dt>Рік видання</dt>
    <dd>{{ resource.year }}</dd>
    <dt>Автор</dt>
    <dd>{{ resource.author }}</dd>
    <dt>Тип</dt>
    <dd>{{ resource.categories[0].name }}</dd>
    <dt>Спеціальність</dt>
    <dd>{{ resource.speciality }}</dd>
    <dt>Опис</dt>
    <dd>{{ resource.description }}</dd>
    <dt>Кількість завантажень</dt>
    <dd>{{ resource.downloads }}</dd>
    <br>
    <dt>Завантажити</dt>
    <dd ng-if="$root.isLoggedIn"><a ng-href="{{ resource.fileR }}">{{ resource.fileR }}</a></dd>
    <dd ng-if="!$root.isLoggedIn">Ви маєте увійти як користувач, щоб мати змогу завантажувати матеріали</dd>
  </dl>
</div>
