<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div id="specialities" class="content-list" ng-controller="SpecialitiesCtrl">
        <section id="isotope-container" isotope-dnu-container>
          <div ng-repeat="item in collection" class="speciality isotope-item" isotope-dnu-item>
            <img src="{{ item.image }}" />
            <p>{{ item.name }}</p>
            <p>{{ item.description }}</p>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
